VITE_NEWSLETTER_ENDPOINT=
SITE_URL=https://example.com

EMAIL_PROVIDER=buttondown

# Buttondown
BUTTONDOWN_API_KEY=

# ConvertKit
CONVERTKIT_API_KEY=
CONVERTKIT_FORM_ID=

# Mailchimp
MAILCHIMP_API_KEY=
MAILCHIMP_AUDIENCE_ID=
MAILCHIMP_SERVER_PREFIX=
